<%= error_messages_for(f.object) %>

<table summary="Book form fields">
  <tr>
    <th>Title</th>
    <td><%= f.text_field(:title) %></td>
  </tr>
  <tr>
    <th>Price</th>
    <td><%= f.text_field(:price) %></td>
  </tr>
  <tr>
    <th>Rating</th>
    <td><%= f.text_field(:rating) %></td>
  </tr>   
  <tr>
    <th>Author id</th>
    <td><%= f.text_field(:author_id)%>
  </tr>
  <tr>
    <th>Publisher id</th>
    <td><%= f.text_field(:publisher_id)%>
  </tr>
  <tr>
    <th>Content Upload</th>
    <td><%= f.rich_text_area(:content) %></td>
  </tr>
</table>
<div class="img-1">
  <p>Image upload</p>
  <%= f.label :image %>
  <%= f.file_field(:image) %>
</div>