<center>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <% if user_signed_in? %>
          <li><%= link_to current_user.email, edit_user_registration_path %>
          <li><%= button_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </div>
    </div>
  </div>
</nav>
<div class="books index">
  <h2>Books</h2>
  <%= image_tag("book.jpg", alt: "Book image placeholder", :style => "width: 100px;height:100px") %><br>
  <%= link_to("Add New Book", new_book_path, :class => 'action_new') %>
  <div class = "books show">
  <table class="listing" summary="Book list">
    <tr class="header">
      <th>Book</th>
      <th>Price</th>
      <th>Rating</th>
      <th>Actions</th>
    </tr>
    <% @book.each do |book| %>
    <tr>
    <td><%= book.title%></td>
    <td><%= book.price%></td>
    <td><%= book.rating%></td>
    <td class="actions">
      <%= link_to("Show", book_path(book), :class => 'action show') %>
      <%= link_to("Edit", edit_book_path(book) , :class => 'action edit') %>
      <%= link_to("Delete", delete_book_path(book), :class => 'action delete') %>
    </td>
    </tr>
    <% end %>
  </table>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to "Sign Up", new_user_registration_path %></li>
  </ul>
</div>
</center>