
<%= link_to('Back to List', books_path, :class => 'back-link') %>


<div class="books show">  
  <h2>Show Books</h2>

  <table summary="Book detailed view">
  <tr> 
    <%= debug @book%>
    <th>Title:</th>
    <td><%= @book.title%></td>
  </tr>
  <tr>
    <th>Created</th>
    <td><%= @book.created_at%></td>
  </tr>
  <tr>
    <th>Updated</th>
    <td><%= @book.updated_at %></td>
  </tr>
  <tr>
    <th>Content</th>
    <%= @book.content%>
  </tr>
  </table>
  <%= image_tag(@book.image,size:"160x120") if @book.image.attached? %> 
</div>