<h1>hello</h1>
<%= @books.size%> no. of books are present <br>
<%= @authors.size%> no. of authors present <br>

<a href="https://www.google.com/">Click Here</a><br>
<%= link_to("Click Here to visit the website", "https://www.google.com/") %>
<br><br />
<%= link_to("with parameters", {:action => "index", :id => 5, :title => "Rich Dad Poor Dad"}) %>

ID: <%= @id%><br />



