<table>
  <tr>
  <th>Name</th>
  <th>Email</th>
  <th>Phone number</th>
  <th>Hobby</th>
  <th>Age</th>
  <th>Skill</th>
  </tr>
    <% @authors.each do |author| %>
    <tr>
      <td><%= author.name %></td>
      <td><%= author.email %></td>
      <td><%= author.phone_no %></td>
      <td><%= author.hobby %></td>
      <td><%= author.age %></td>
      <td><%= author.skill %></td>
    </tr>
    <% end %>
  </table>
