<%= form_tag(searching_authors_path, method: :get, remote: true) do %>
  Author 
  <%= text_field_tag :name, params[:name] %>
  <%= submit_tag 'Search' %>
<% end %>
<br>
<%= form_tag(search_authors_path, method: :get, remote: true) do %>
  Book
  <%= text_field_tag :title, params[:title] %>
  <%= submit_tag 'Search' %>
<% end %>
<br>

<%= form_tag(hobby_authors_path, method: :get, remote: true) do %>
Hobby
<%= select_tag(:hobby, options_for_select(Author.pluck("hobby").flatten.uniq(), params[:hobby]), class:"select") %>
 <%= submit_tag 'Look' %>
<% end %>

<br>
<%= form_tag(skill_authors_path, method: :get, remote: true) do %>
Skill
<%= select_tag(:skill, options_for_select(Author.pluck("skill").flatten.uniq(), params[:skill]), class:"select") %>
 <%= submit_tag 'Look' %>
<% end %>
<%= form_tag(age_authors_path, method: :get, remote: true) do %>
Age
<%= select_tag "age", options_for_select([["Age > 30", 30],["Age > 40", 40],["Age > 50", 50]], params[:age]), class:"select" %>
<%= submit_tag 'Look' %>
<% end %>

<%= link_to "New Author", new_author_path %>
<div class="author_index">
  <h2>Author</h2>
<table summary = "Authors List" id="table">
    <tr class = "header">
    <th>Name</th>
    <th>Email</th>
    <th>Age</th>
    <th>Hobby</th>
    <th>Skills</th>
    
    </tr>
  <% @author.each do |author| %>
  <tr>
  <td><%= author.name %></td>
  <td><%= author.email %></td>
  <td><%= author.age %></td>
  <td><%= author.hobby %></td>
  <td><%= author.skill %></td>
  <td class="actions">
    <%= link_to("Show", author_path(author), :class => 'action show') %>
    <%= link_to("Edit", edit_author_path(author), :class => 'action show') %>
    <%= link_to("Delete", author_path(author), :method => :delete, :class => 'action show') %>
  </td> 
  </tr>

  <tr><td><b>Books</b></td></tr><br>
  <% author.books.each do |book| %>
  <tr>
  <td><%= book.title %></td>
  <td><%= book.genre %></td>
  </tr>
  <% end %>
  <% end %>
  </table>
</div>

<%= will_paginate @author %>

