<%= form_tag(searching_authors_path, method: :get, remote: true) do%>
  Author 
  <%= text_field_tag :name, params[:name] %>
  <%= submit_tag 'Search' %>
<% end %>
<br>
<%= form_tag(search_books_path, method: :get, remote: true) do%>
  Book
  <%= text_field_tag :title, params[:title] %>
  <%= submit_tag 'Search' %>
<% end %>
<br>
<!--
<%= form_with do |f| %>
  <% f.select :author, ["Global", "Legacy", "Forward"] %>
<% end %>
<br>
-->
<%= form_tag searching_authors_path, :method => 'get', remote: true do %>
  <%= collection_select :@author, :id, Author.all, :id, :hobby, prompt: true %> 
   <%= submit_tag "look" %>
<% end %>
<%= link_to "New Author", new_author_path %>
<div class="author_index">
  <h2>Author</h2>
<table summary = "Authors List" id="table">
    <tr class = "header">
    <th>Name</th>
    <th>Email</th>
    <th>Hobby</th>
    <th>Skills</th>
    </tr>
  <% @author.each do |author| %>
  <tr>
  <td><%= author.name %></td>
  <td><%= author.email %></td>
  <td><%= author.hobby %></td>
  <td><%= author.skill %></td>
  </tr>

  <tr><td><b>Books</b></td></tr><br>
  <% author.books.each do |book| %>
  <tr>
  <td><%= book.title %></td>
  <td><%= book.genre %></td>
  </tr>
  <% end %>
  <% end %>
  </table>
</div>

