<h1>Enter the details:</h1>
<%= form_for @user, url: users_create_path do |form| %>
  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :gender, class: "form-control" %>
    <%= form.text_field :gender, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :address, class: "form-control" %>
    <%= form.text_field :address, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :country_id %><br />
    <%= form.collection_select :id, Country.order(:name), :id, :name, include_blank: true %>
  </div>
  <div class="mb-3">
    <%= form.label :city_id, "City" %>
    <%= form.grouped_collection_select :id, Country.order(:name), :cities, :name, :id, :name, include_blank: true %>
  </div>
  <div>
    <%= form.submit "Sign Up", class: "btn btn-primary" %>
  </div>
<% end %>
