<%= link_to('Back to List', users_path, :class => 'back-link') %>

<div class="user-show">
  <table summary="User detailed view">
    <tr> 
    <th>First Name :</th>
    <td><%= @user.first_name %></td>
  </tr>
  <tr> 
    <th>Last Name:</th>
    <td><%= @user.last_name %></td>
  </tr>
  <tr>
    <th>Email:</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
  <th>Country:</th>
  <td><%= @user.country %></td>
  </tr>
  <th>Avatar:</th>
  <td><%= @user.avatar %></td>
  </table>
</div>