<%= link_to('Back to List', users_path, :class => 'back-link') %>

<div class="user-show">
  <table summary="User detailed view">
    <tr> 
    <%=  @user.inspect%>
    <th>First Name :</th>
    <td><%= @user.first_name%></td>
  </tr>
  <tr> 
    <th>Last Name:</th>
    <td><%= @book.last_name%></td>
  </tr>
  <tr>
    <th>Email:</th>
    <td><%= @book.email%></td>
  </tr>
  </table>
</div>