<%= form_with model: @user do |form| %>

<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<div>
  <%= form.label :gender %>
  <%= form.text_field :gender %>
</div>
<div>
  <%= form.label :country %>
  <%= form.text_field :country %>
</div>
<%= form.submit %>
<% end %>
