<h1>Sign Up</h1>
<%= form_with model: @user, url: users_create_path do |form| %>
  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :gender %>
    <%= form.text_field :gender, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :profile %>
    <%= form.text_field :profile, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.submit "Sign Up", class: "btn btn-primary" %>
  </div>
  
  <div data-controller="country">
  <div class="mb-3">
    <%= form.label :country, class: 'form-label' %><br />
    <%= form.select :country, ["India","USA"],  :onclick=>"alert('Hi');" %>
  </div>
  <div class="mb-3">
    <%= form.label :state, class: 'form-label' %><br />
    <%= form.select :state, [] %>
  </div>
  </div>
  <div class="mb-3">
    Add an image..
  <%= form.file_field :profile %>
  </div>
<% end %>
<script>
  let indianStates = ["Haryana", "Delhi", "UP"];
  let usaStates = ["Hawai","Texas"];
      function remove() {  
            var x = document.getElementById("user_state");

           for (const s of x.options){ x.remove(s.innerHTML);} 
         }  

  function selected() {
    let country = document.forms[0].user_country.value;
    
    if (country == "India") {
      remove();
      console.log("Inside India");
      for (const val of indianStates ){
        var option = document.createElement("option");
        option.value = val;
        option.text = val.charAt(0).toUpperCase() + val.slice(1);
        document.forms[0].user_state.appendChild(option);
      }
    }
    if (country == "USA") {
      remove();
      console.log("Inside USA");
      for (const val of usaStates ){
        var option = document.createElement("option");
        option.value = val;
        option.text = val.charAt(0).toUpperCase() + val.slice(1);
        document.forms[0].user_state.appendChild(option);
      }
    }
    
    let form = document.forms[0];

    form.user_country.addEventListener("change", selected);

  }
</script>









